@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: white;
    margin: 0px;
}

::selection {
    color: white;
    background: #1F3247;
}

.wide {
    display: none;
}

/* HEADER */

header {
    height: 360px;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-clip: padding-box;
    background-size: cover;
    position: relative;
}

header img {
    width: 160px;
    height: 160px;
    border: 3px solid white;
    border-radius: 10%;
    display: block;
    position: relative;
    top: 50px;
    margin: auto;
}

header a {
    font-size: 35px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    position: relative;
    bottom: -100px; 
    margin: auto;
}

/* NAVIGATION */

nav table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

nav td {
    text-align: center;
    text-shadow: 0.5px 1px 1px #D8DAD9;
    border: 2px groove black;
}

nav a {
    text-decoration: none;
    color: black;
}

nav td a.active {
    color: #20A067;
}

nav td a:hover {
    text-decoration: underline;
}

nav td a.active:hover {
    text-decoration: none;
}

/* MAIN */

main {
    padding: 5%;
}

main p {
    text-align: justify;
    text-indent: 1.5em;
    line-height: 150%;
    padding: 2% 0%;
    margin: 0%;
}

main home p#greeting {
    padding: 0% 15%;
    text-align: center;
}

/* MAIN: ABOUT */

about ul {
    padding-left: 12%;
    margin: 0%;
}

about li {
    list-style-type: circle;
    line-height: 150%;
    padding: 2% 0%;
}

/* MAIN: SKILLS */

skills table {
    width: 100%;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 30px;
}

skills progress {
    vertical-align: middle;
    width: 100%;
    height: 30px;
    color: #3fb6b2;
    background: #C1C1C1;
    border: 1.5px solid black;
    box-shadow: 1px 1px 2px #424242;
}

::-webkit-progress-bar {
    background-color: #E1E1E1;
}

::-webkit-progress-value {
    background-color: #669669;
} 

::-moz-progress-bar {
    background-color: #669669;
}

/* MAIN: PORTFOLIO */

portfolio table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    padding: 5% 0%;
}

portfolio td {
    font-size: 18px;
    display: flex;
    text-align: center;
    text-align: justify;
}

portfolio td.screenshot a img {
    width: 100%;
    box-shadow: 0px 0px 10px black;
}

portfolio td.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

portfolio td.links a img {
    width: 50px;
    height: 50px;
    opacity: 0.7;
    box-shadow: none;
    padding: 0% 25%;
}

/* MAIN: CONTACTS */

contacts links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}

contacts links img {
    height: 70px;
    width: 70px;
    padding: 10px;
}

contacts links img:hover {
    opacity: 0.8;
}

contacts email {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

contacts email input, textarea {
    width: 90%;
    font-size: 14pt;
    color: black;
    background-color: #f2f3f4 ;
    border: 1px groove  #515a5a;
    padding: 10px 10px 10px;
    margin-bottom: 10px;
}

contacts email textarea {
    height: 100px;
}

contacts email .submit {
    width: 95%;
    color: white;
    background-color: #20A067;
    cursor: pointer;
}

contacts email .submit:hover {
    opacity: 0.8;
}

/* FOOTER */

footer {
    height: 100px;
    position: relative;
    border-top: 1.5px groove #3a3a3a;
}

footer language {
    position: absolute;
    width: 40px;
    top: 30px;
    left: 50px;
}

footer copyright {
    font-size: 10px;
    position: absolute;
    bottom: 35px;
    right: 50px;
}
