<!DOCTYPE html>
<html lang="en">
<html>
    <head>
    	<meta charset="UTF-8">
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Olesya Barsukova"/>
        <meta property="og:description" content="Personal website"/>
        <meta property="og:image" content="https://i.imgur.com/vClPVtJ.jpg"/>
        <meta property="og:url" content="http://olesyabarsukova.pythonanywhere.com/"/>
        <title>{{_('Олеся Барсукова')}}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/badger.png') }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=320, height=device-height, target-densitydpi=medium-dpi" />
        
    </head>

    <body>

    	<header>
            <img alt="" src="{{ url_for('static', filename='images/avatar.jpg') }}">
            <a  href="{{ url_for('multilingual.home') }}">{{_('Олеся Барсукова')}}</a>
        </header>

        <nav>
            <table>
                <tr>
                    <td><a  class="{{ 'active' if active_page == 'experience' else '' }}" href="{{ url_for('multilingual.experience') }}">{{_('Опыт Работы')}}</a></td>
                    <td><a  class="{{ 'active' if active_page == 'education' else '' }}" href="{{ url_for('multilingual.education') }}">{{_('Образование')}}</a></td>
                    <td><a  class="{{ 'active' if active_page == 'skills' else '' }}" href="{{ url_for('multilingual.skills') }}">{{_('Навыки')}}</a></td>
                    <td><a  class="{{ 'active' if active_page == 'portfolio' else '' }}" href="{{ url_for('multilingual.portfolio') }}">{{_('Портфолио')}}</a></td>
                    <td><a  class="{{ 'active' if active_page == 'contacts' else '' }}" href="{{ url_for('multilingual.contacts') }}">{{_('Контакты')}}</a></td>
                </tr>
            </table>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        <footer>
            <language>
            {% if g.lang_code == 'en' %}    
                <a href="{{ url_for(request.endpoint, lang_code='ru') }}"><img alt="" src="{{ url_for('static', filename='images/flag-ru.jpg') }}"></a>
            {% endif %}
            {% if g.lang_code == 'ru' %}
                <a href="{{ url_for(request.endpoint, lang_code='en') }}"><img alt="" src="{{ url_for('static', filename='images/flag-en.jpg') }}"></a>
            {% endif %}
            </language>
            <copyright>© 2020. {{_('Все права защищены.')}}</copyright>
        </footer>
        
    </body>
</html>
</html>