{% extends "base.html" %}
{% set active_page = "education" %}

    {% block content %}
        <education>
            <table>
                <tr>
                    <th colspan="2" id="first">{{_('Высшее образование')}}</th>
                </tr>
                <tr>
                    <td width="35%">СПбГУПТД</td>
                    <td width="65%">
                        <ul><li>{{_('Красный диплом по специальности "Мировая экономика" (2015-2019)')}}</li></ul></td>
                </tr>
                <tr>
                    <th colspan="2">{{_('Дополнительное образование')}}</th>
                </tr>
                <tr>
                    <td>{{_('Центр IT-образования Level UP')}}</td>
                    <td>
                        <ul>
                            <li>{{_('Основы программирования на языке Python. Уровень 1')}}</li>
                            <li>{{_('Основы программирования на языке Python. Уровень 2')}}</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">{{_('Самообразование')}}</th>
                </tr>
                <tr>
                    <td>{{_('Образовательные онлайн-ресурсы')}}</td>
                    <td>
                        <ul>
                            <li>w3schools.com (SQL, XPath)</li>
                            <li>SoloLearn (Python, Java, C#, HTML, CSS, SQL)</li>
                            <li>Code Basics (Python, Java, CSS, HTML)</li>
                            <li>Hexlet (Введение в программирование; Основы программирования; Операционные системы; Python: Основы; Ключевые аспекты разработки на Python; Python: Настройка окружения; Введение в веб-разработку; Основы HTML, CSS и веб-дизайна; Основы командной строки; Системы контроля версий (GIT))</li>
                            <li>Practice Python</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>{{_('Видеоуроки')}}</td>
                    <td>
                        <ul>
                            <li>Тестирование ПО (Лаборатория Качества)</li>
                            <li>Качество и Тестирование ПО (Технострим Mail.Ru Group)</li>
                            <li>Программирование на Python для тестировщиков (автоматизация) (Software-Testing.RU)</li>
                            <li>Программирование на Java для тестировщиков (автоматизация) (Software-Testing.RU)</li>
                            <li>Selenium 3.0 (Software-Testing.RU)</li>
                            <li>Инструменты тестировщика: Chrome DevTools (learnqa.ru)</li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>{{_('Книги')}}</td>
                    <td>
                        <ul>
                            <li>Код. Тайный язык информатики (Чарльз Петцольд)</li>
                            <li>Грокаем алгоритмы. Иллюстрированное пособие для программистов и любопытствующих
                                (Адитья Бхаргава)</li>
                            <li>Тестирование Дот Ком, или Пособие по жестокому обращению с багами в интернет-стартапах (Роман Савин)</li>
                            <li>Идеальный программист. Как стать профессионалом разработки ПО (Роберт Мартин)</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </education>
    {% endblock %}