{% extends "base.html" %}
{% set active_page = "experience" %}

    {% block content %}
        <experience>
            <table>
                <tr>
                    <th width="35%">{{_('Место работы')}}</th>
                    <th width="65%">{{_('Обязанности на рабочем месте')}}</th>
                </tr>
                <tr>
                    <td>
                        <a href="http://oooinex.ru/">{{_('ООО &laquo;ИнЭкс&raquo;')}}</a>
                        <br><br>{{_('Инженер по тестированию ПО')}}
                        <br><br>{{_('Апрель 2020 - Настоящее время')}}
                    </td>
                    <td>
                        <ul>
                            <li>{{_('Написание тестовой документации (чек-листы, теск-кейсы, баг-репорты)')}}</li>
                            <li>{{_('Ручное тестирование веб-приложений (функциональное, UI, юзабилити)')}}</li>
                            <li>{{_('Регрессионное и приемочное тестирование')}}</li>
                            <li>{{_('Запуск автотестов и разбор отчетов по их выполению (Allure)')}}</li>
                            <li>{{_('Написание атоматизированных тестов на языке программирования Java с использованием инструментов Selenide (обертка над Selenium) и aShot (библиотека для сравнения изображений)')}}</li>
                            <li>{{_('Написание атоматизированных тестов с помощью инструмента TestProject (аналог Selenium IDE и Postman)')}}</li>
                            <li>{{_('Проведение тестирования безопасности с помощью инструмента SkipFish и анализ результатов')}}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </experience>
    {% endblock %}