{% extends "base.html" %}
{% set active_page = "home" %}

    {% block content %}
        <home>
            <p id="greeting">{{_('Добро пожаловать на мой сайт-визитку. Ниже изложена основная информация обо мне, а в разделах меню можно узнать больше о моем профессиональном пути и навыках.')}}</p>
            <br>
            <p>{{_('Своими сильными сторонами считаю усидчивость, любовь к самообучению и нацеленность на достижение высоких результатов. 
                Способна быстро вникать в процессы и адаптироваться под внезапные изменения. 
                Не боюсь использовать новые практики и инстументы в своей работе.')}}</p>
            <p>{{_('Имею аналитический склад ума, с интересом выполняю задачи, связанные с математическими расчетами. Люблю применять различные коэффициенты и статистические показатели, а также строить инфографику на их основе. 
                Считаю, что экономическое образование позволяет мне более комплексно подходить к проблеме разработки и тестирования ПО, так как я рассматриваю жизненный цикл продукта не только в совокупности программно-технического комплекса, но и с точки зрения бизнес-процессов.')}}</p> 
            <p>{{_('Мне нравится работать в команде и ощущать, что я вношу свою лепту в развите Компании.')}}</p> 
            <p>{{_('Жажду развиваться в сфере IT и прикладываю большие усилия для достижения этой цели.')}}</p> 
		</home>
	{% endblock %}