{% extends "base.html" %}
{% set active_page = "portfolio" %}

	{% block content %}
		<portfolio class="wide">
			<table cellpadding="15px">
				<tr>
					<th colspan="2">{{_('Telegram Bot &laquo;Book Advisor&raquo;')}}</th>
				</tr>
				<tr>
					<td class="screenshot" rowspan="2" width="70%">
						<a href="https://i.imgur.com/uwLFQDT.jpg"><img class="screenshot" src="{{ url_for('static', filename='images/screenshot-webi.jpg')}}"/></a>
					</td>
					<td>{{_('In the near future I am going to finish my old project: Telegram Bot &laquo;Book Advisor&raquo;.')}}</td>
				</tr>
				<tr>
					<td class="links" align="center" nowrap>
						<a href=""><img src="{{ url_for('static', filename='images/icon-telegram.png')}}"></a>
						<a href=""><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
			</table>
			<br>
			<br>
			<table cellpadding="15px">
				<tr>
					<th colspan="2">{{_('Personal Website')}}</th>
				</tr>
				<tr>
					<td class="screenshot" rowspan="2" width="70%">
						<a href="https://i.imgur.com/uwLFQDT.jpg"><img class="screenshot" src="{{ url_for('static', filename='images/screenshot-webi.jpg')}}"/></a>
					</td>
					<td >{{_('This website is my first attempt in web-development and my first project as well. The application was created by means of web framework Flask.')}}</td>
				</tr>
				<tr>
					<td class="links" align="center" nowrap><a href="https://github.com/BadgerBo/webi"><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a></td>
				</tr>
			</table>
		</portfolio>

		<portfolio class="narrow">
			<br>
			<table cellpadding="10px">
				<tr>
					<th>{{_('Telegram Bot &laquo;Book Advisor&raquo;')}}</th>
				</tr>
				<tr>
					<td class="screenshot" colspan="2">
						<a href="https://i.imgur.com/uwLFQDT.jpg"><img class="screenshot" src="{{ url_for('static', filename='images/screenshot-webi.jpg')}}"/></a>
					</td>
				</tr>
				<tr>
					<td>{{_('In the near future I am going to finish my old project: Telegram Bot &laquo;Book Advisor&raquo;.')}}</td>
				</tr>
				<tr>
					<td class="links">
						<a href=""><img src="{{ url_for('static', filename='images/icon-telegram.png')}}"></a>
						<a href=""><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
			</table>
			<br>
			<br>
			<table cellpadding="10px">
				<tr>
					<th>{{_('Personal Website')}}</th>
				</tr>
				<tr>
					<td class="screenshot">
						<a href="https://i.imgur.com/uwLFQDT.jpg"><img class="screenshot" src="{{ url_for('static', filename='images/screenshot-webi.jpg')}}"/></a>
					</td>
				</tr>
				<tr>
					<td>{{_('This website is my first attempt in web-development and my first project as well. The application was created by means of web framework Flask.')}}</td>
				</tr>
				<tr>
					<td class="links">
						<a href="https://github.com/BadgerBo/webi"><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
			</table>
		</portfolio>	
	{% endblock %}