{% extends "base.html" %}
{% set active_page = "portfolio" %}

	{% block content %}
		<portfolio>
			<table>
				<tr>
					<th width="35%">{{_('Проект')}}</th>
					<th width="65%">{{_('Краткое описание')}}</th>
					<th width="20%">{{_('Ссылки')}}</th>
				</tr>
				<tr>
					<td>{{_('Инструмент для автоматизации ABC-XYZ анализа')}}</td>
					<td>{{_('ABC-XYZ анализ - это инструмент, позволяющий разделить продукцию по степени стабильности продаж и уровня колебаний потребления. Другими словами, он помогает найти слабые звенья в ассортименте Компании. Подробнее про него можно прочитать <a href="https://abcsupplychain.com/en/abc-xyz-analyse/">тут</a>.')}}
						Работа скрипта имеет следующий алгоритм: в JSON записываются необходимые данные (название базы данных, таблиц и SQL запросы), после чего запускается исполняемый файл. Результатом работы является сформированный в фомате PDF отчет с круговой диаграммой и таблицей товаров, классифицированных в соответсвии с подсчитанными показателями.</td>
					<td class="links">
						<a href="https://github.com/BadgerBo/abcxyz_analysis" target="_black"><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
				<tr>
					<td>{{_('Телеграм Бот &laquo;Book Advisor&raquo;')}}</td>
					<td>{{_('Этот бот был создан специально чтобы ответить на извечный вопрос &laquo;Какую книгу мне прочесть следующей?&raquo;. Книголюбителю предлагается выбрать одну из доступных опций, а в качестве ответа он получит предложение в рамках указанных критериев. 
						Подробно ознакомиться с произведением можно пройдя по ссылке на Goodreads.com. Именно оттуда парсится информация, предоставляемая ботом.')}}</td>
					<td class="links">
						<a href="https://t.me/BadgerBo_libot" target="_black"><img src="{{ url_for('static', filename='images/icon-telegram.png')}}"></a>
						<a href="https://github.com/BadgerBo/libot" target="_black"><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
				<tr>
					<td>{{_('Личный Сайт')}}</td>
					<td>{{_('Речь идет об этом сайте-визитке, который является моей первой попыткой в веб-разработке. Бэкэнд написан на Python с применением веб-фреймворка Flask. Фронт реализован на HTML и CSS.')}}</td>
					<td class="links">
						<a href="https://github.com/BadgerBo/webi" target="_black"><img src="{{ url_for('static', filename='images/icon-github.png')}}"></a>
					</td>
				</tr>
			</table>
		</portfolio>
	{% endblock %}