{% extends "base.html" %}
{% set active_page = "skills" %}

    {% block content %}
        <skills>
            <block>Linux</block>
            <block>Git</block>
            <block>Python</block>
            <block>Java</block>
            <block>HTML</block>
            <block>CSS</block>
            <block>SQL</block>
            <block>JSON</block>
            <block>XML</block>
            <block>XPath</block>
            <block>Flask</block>
            <block>Selenium</block>
            <block>Test Project</block>
            <block>Postman</block>
            <block>Jira</block>
            <block>{{_('Английский язык')}}</block>
        </skills>
    {% endblock %}